{{#each @tasks as |task|}}
  <div class='container'>

    <div class='card mb-3'>
      <div class='card-body'>
        <div class='d-flex flex-column flex-lg-row'>
          <span
            class='avatar avatar-text rounded-3 me-4 mb-2'
          >{{task.id}}</span>
          <div class='row flex-fill'>
            <div class='col-sm-5'>
              <h4 class='h5'>{{task.description}}</h4>
              <span class='badge bg-secondary'>{{task.updatedAt}}</span>
              <span class='badge bg-success'>{{task.createdAt}}</span>
            </div>
            <div class='col-sm-4 py-2'>
              <td>
                <div class='form-check'>
                  {{#if task.isDone}}
                    <input
                      id='flexCheckDefault'
                      class='form-check-input'
                      type='checkbox'
                      value=''
                      checked={{task.isDone}}
                      {{on 'click' (fn this.toogleValue task)}}
                      disabled
                    />
                  {{else}}
                    <input
                      id='flexCheckDefault'
                      class='form-check-input'
                      type='checkbox'
                      value=''
                      checked={{task.isDone}}
                      {{on 'click' (fn this.toogleValue task)}}
                    />
                  {{/if}}
                </div>
              </td>
            </div>
            <div class='col-sm-3 text-lg-end'>
              <a href='#' class='btn btn-primary stretched-link'>Apply</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}